<div class="ui equal widthform">
<%= form_with(model: cohort, local: true) do |form| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :star_date %>
    <%= form.date_field :star_date %>
  </div>

  <div class="field">
    <%= form.label :end_sate %>
    <%= form.date_field :end_sate %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select(:course_id) do %>
      <% @courses.order('name ASC').each do |course_select| %>
        <%= content_tag(:option, course_select.name, value: course_select.id) %>
      <% end %>
  <% end %>
  </div>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.select(:instructor_id) do %>
      <% @instructors.order('last_name ASC').each do |instructor_select| %>
        <%= content_tag(:option, instructor_select.last_name, value: instructor_select.id) %>
      <% end %>
  <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div