<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr><h1 class="cohorts">Cohorts</h1></tr><%=link_to "Add", new_cohort_path(@cohort), :class=> "ui tiny olive button"%>
      <th>Name</th>
      <th>Star date</th>
      <th>End sate</th>
      <th>Course</th>
      <th>Instructor</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr id="cohort-<%= cohort.id %>">
      <td><a href="/cohorts/<%= cohort.id%>">
        <td><%= cohort.name %></td>
        <td><%= cohort.star_date %></td>
        <td><%= cohort.end_sate %></td>
        <td><%= cohort.course_id %></td>
        <td><%= cohort.instructor_id %></a></td>


        <td><%= link_to 'Show', cohort,:class=> "ui tiny olive button"  %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort), :class=> "ui tiny olive button" %></td>
        <%= link_to 'Delete', cohort_path(cohort), method: :delete, remote:true, data: { confirm: 'Are you sure?' }, :class=> "ui tiny olive button" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort', new_cohort_path %>
