<p id="notice"><%= notice %></p>

<div class="ui equal widthform">
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Star date:</strong>
  <%= @cohort.star_date %>
</p>

<p>
  <strong>End sate:</strong>
  <%= @cohort.end_sate %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @instructor.first_name%>
</p>
<ul>
  <strong>Students :</strong>
  <% @students.each do |student| %>
    <li><a href="/students/<%= student.id%>"><%=student.first_name%></a></li>
   <%end%>
</ul>
</div>

<%= link_to 'Edit', edit_cohort_path(@cohort), :class=> "ui tiny olive button" %> |
<%= link_to 'Back', cohorts_path, :class=> "ui tiny olive button" %>
