<p id="notice"><%= notice %></p>
<div class="ui equal widthform">
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Cohort:</strong>
  <%if @cohort.nil?%>
  <a>Not assigned to a Cohort</a>
  <%else%>
  <%= @cohort.name %>
  <%end%>
</p>
</div>
<%= link_to 'Edit', edit_student_path(@student), :class=> "ui tiny olive button" %> |
<%= link_to 'Back', students_path, :class=> "ui tiny olive button" %>
