<p id="notice"><%= notice %></p>
<div class="ui form">
<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @instructor.salary %>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>
</div>
<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
