<p id="notice"><%= notice %></p>
<% if current_admin %>
<table class="ui fixed single line celled table">
<thead>
    <tr><h1 class="courses">Courses</h1></tr><%=link_to "Add", new_course_path(@course), :class=> "ui tiny olive button"%>
    <th> Name </th>
    <th> Total Hours </th>
    <th> Options </th>
   </thead>
   <tbody>
     
        <% @courses.each do |course| %>
        
        <tr id="course-<%= course.id %>">
            <td>
            <a class="item">
            <img class="ui mini circular image" src=" https://www.shareicon.net/data/128x128/2015/05/04/33053_school_48x48.png"">
            </a>
            <a href="/courses/<%= course.id%>"> <%= course.name %> </a></td>
            <td> Total Hours: <%= course.hours %> </td>

            <td> 
            <%= link_to 'Show', course, :class=> "ui tiny olive button"%>
             <%= link_to 'Edit', edit_course_path(course), :class=> "ui tiny olive button"%>
             <%= link_to 'Delete', course_path(course), method: :delete, remote:true, data: { confirm: 'Are you sure?' }, :class=> "ui tiny olive button" %>
           </td>
            
            <% end %>
            </tr>
    </tbody>
</table>
<% end %>
<br>



<%= link_to 'New Course', new_course_path %>
