<p id="notice"><%= notice %></p>
<div class="ui form">
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>
</div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
